
<div class="containerHeader">
  <button mat-flat-button color="primary" (click)="Return()">Return</button>
  <span>{{entry.Project}} \ {{entry.File}}</span>
</div>

<div fxLayout="row" fxLayout.xs="column" fxFlexFill>

  <div fxFlex="60" fxFlex.xs="100">
    <mat-card id="Translator">

      <mat-card-title>
        <div id="Visualization">
          <img src="https://i.ya-webdesign.com/images/text-background-png-1.png" style="width:100%;height:auto">
          <div id="Text">
            <span style="top: 50px;left:50px" id="RenderizedText">
              {{entry.Translated == "" ? entry.Original : entry.Translated}}
            </span>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content>
        <form class="example-form" [formGroup]="">
          <mat-form-field class="example-full-width">
            <mat-label>Original</mat-label>
            <input matInput disabled value="{{entry.Original}}">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Translated</mat-label>
            <textarea matInput id="TranslatedText" (keyup)="UpdateText()">{{entry.Translated}}</textarea>
          </mat-form-field>
        </form>

        <mat-card-actions>
          <button mat-button>
            <mat-icon>save</mat-icon>
            SAVE
          </button>
          <button mat-button>
            <mat-icon>double_arrow</mat-icon>
            SKIP
          </button>
          <mat-slide-toggle>Need revision</mat-slide-toggle>
          <mat-chip-list>
            <span>Count:</span>
            <mat-chip color="primary" selected id="charaCount">0</mat-chip>
          </mat-chip-list>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30" fxFlex.xs="100">

    <mat-card id="Index">
      <mat-paginator [length]="entry.Size"
                     [pageIndex]="entry.Index"
                     [pageSize]="1"
                     (page)="pageEvent = ChangeEntry($event)">
      </mat-paginator>
      <div class="container">
        <mat-form-field>
          <input matInput placeholder="Go to entry...">
        </mat-form-field>
        <button mat-stroked-button class="GoToButton">Go</button>
      </div>
    </mat-card>

    <mat-card id="Context">
      <h2>Context</h2>
      <h3>{{entry.Context}}</h3>
    </mat-card>
  </div>

</div>
