
<div class="containerHeader" fxFlexFill *ngIf="entry">
  <button mat-flat-button color="primary" (click)="Return()">Return</button>
  <span>{{entry.Project}} \ {{entry.File}}</span>
</div>

<div fxLayout="row" fxLayout.xs="column" fxFlexFill *ngIf="entry">

  <div fxFlex="60" fxFlex.xs="100">
    <mat-card id="Translator">

      <!--<mat-card-title>
        <div id="Visualization">
          <img src="https://i.ya-webdesign.com/images/text-background-png-1.png" style="width:100%;height:auto">
          <div id="Text">
            <span style="top: 50px;left:50px" id="RenderizedText">
              {{entry.Entry.Translated == "" ? entry.Entry.Original : entry.Entry.Translated}}
            </span>
          </div>
        </div>
      </mat-card-title>-->
      <mat-card-content>
        <form class="example-form" [formGroup]="">
          <mat-form-field class="example-full-width">
            <mat-label>Original</mat-label>
            <textarea autosize id="originalText" matInput readonly>{{entry.Entry.Original}}</textarea>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Translated</mat-label>
            <textarea autosize matInput id="translatedText" #translatedText (keyup)="UpdateText(translatedText.value)" value="{{entry.Entry.Translated}}"></textarea>
          </mat-form-field>
        </form>

        <mat-card-actions>
          <button (click) = 'UpdateEntry(translatedText.value)' mat-button>
            <mat-icon>save</mat-icon>
            SAVE
          </button>
          <button mat-button (click)="NextEntry()">
            <mat-icon>double_arrow</mat-icon>
            SKIP
          </button>
          <!--<mat-slide-toggle>Need revision</mat-slide-toggle>-->
          <mat-chip-list>
            <span>Count:</span>
            <mat-chip color="primary" selected id="charaCount">{{entry.Entry.Translated.length.toString()}}</mat-chip>
          </mat-chip-list>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="30" fxFlex.xs="100">

    <mat-card id="Index" *ngIf="entry">
      <mat-paginator [length]="entry.Size"
                     [pageIndex]="entry.Index"
                     [pageSize]="1"
                     (page)="pageEvent = ChangeIndex($event)">
      </mat-paginator>
      <div class="container">
        <mat-form-field>
          <input matInput #entryPosition placeholder="Go to entry..." pattern="^(\d)+$">
        </mat-form-field>
        <button mat-stroked-button class="GoToButton" (click)="GoToEntry(entryPosition.value)">Go</button>
      </div>
    </mat-card>

    <mat-card>
      <h2>Context</h2>
      <h3 id="context">{{entry.Entry.Context}}</h3>
    </mat-card>
  </div>

</div>
