<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
          <div class="navbar-brand">
            <a class="navbar-item" routerLink="/projects">
              <img src="assets/images/logo.png" style="height: 5vh; padding-top: 1vh;">
            </a>
          </div>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <div *ngIf="isLogged">
          <ul fxLayout fxLayoutGap="20px" class="navigation-items">
              <li>
                <a routerLink="/projects" mat-icon-button>
                  <mat-icon class="icon">dashboard</mat-icon>
                </a>
              </li>
              <li>
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon class="icon">person</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item>
                      <span>Logged as: {{user}}</span>
                    </button>
                    <button mat-menu-item (click)="Logout()">
                      <mat-icon>people_outline</mat-icon>
                      <span>Close session</span>
                    </button>
                  </mat-menu>
              </li>
          </ul>
        </div>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
